<div class="row">
    <% if @book.errors.any?  %>
    <div style="color: red;" id="error_explanation">
        <h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>

        <ul>
            <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="col-xs-3">
        <h2>User info</h2>
        <%= render 'users/profile' ,user: @books.user %>

        <h2>New book</h2>
        <%= render 'books/newform' ,book: @book %>

    </div>

    <div class="col-xs-9">
        <h2>Book detail</h2>

        <table class="table">
            <tr>
                <td>
                    <%= link_to user_path(@books.user) do %>
                    <%= attachment_image_tag(@books.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
                    <%= @books.user.name %>
                    <% end %>
                </td>
                <td><%= link_to @books.title %></td>
                <td><%= @books.body %></td>
                <% if  @books.user_id == current_user.id %>
                <td><%= link_to "Edit",edit_book_path(@books), class: "btn-sm btn-success edit_book_#{@books.id}" %></td>
                <td><%= link_to "Destroy",@books, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@books.id}" %></td>
                <% end %>
                <td class=<%= "table__favorite--" + @books.id.to_s %>>
                    <%= render 'favorites/favorite' ,book: @books ,user: current_user %>
                </td>
                <td>
                    コメント数:<%= @book_comments.count %>
                </td>
            </tr>
        </table>

        <%= form_for( @book_comment ,url: book_comments_path(id: @books.id) ,remote: true) do |f| %>
        <%= f.text_area :comment , id: "comment__textarea" , style: "width: 650px; height: 50px;"%>
        <%= f.submit "コメント投稿", class: "btn btn-primary" %>
        <% end %>


        <div id="table_comment">
            <%= render 'book_comments/comment' ,book_comments: @book_comments  %>
        </div>



    </div>
</div>